* {
    margin: 0;
    padding: 0
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: linear-gradient(to right, #0042A6, #001A40);
   color: white;
   padding: 15px 50px;

}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

