
.hero {
  background-image: url('../my-hero.png'); 
  background-size: cover;
  background-position: center;
  height: 40vh;                
  display:flex;
  justify-content:left;
  align-items:center;
  position: relative;
  margin-bottom: 0;
  box-shadow: 0 0 40px rgba(0,0,0,0.35)
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, rgba(124, 167, 202, 1), rgba(44, 113, 170, 1));
  z-index: 1;
  pointer-events: none;
  opacity: 0.60;
  box-shadow: 0 0 40px rgba(0,0,0,0.35)

}

.hero-text h1 {
  color: rgba(255,255,255,0.95);
  font-size: 35px;
  letter-spacing: 1px;
  margin: 0;
  font-weight: 800;
  position: relative;
  z-index: 2;
  text-align:left;
  margin-left: 150px;
  margin-top: 200px;
}

.hero-text p {
  color:  rgba(255,255,255,0.95);
  font-size: 20px;
  letter-spacing: 1px;
  margin: 0;
  position: relative;
  z-index: 4;
  text-align:left;
  margin-left: 150px;
  margin-bottom: 30px;
}



/* Siit algab lehega seotud osa, ilma ülaribata. MITTE ÄRA KUSTUTADA!!! */

.quiz-container {
  max-width: 900px;
  margin: 140px auto 80px; /* et header ei kattuks */
  padding: 0 20px;
}

.quiz-question {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 50px;
  color: #001A40;
}

.answers-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.answer-option {
  padding: 18px 22px;
  background: #f4f7ff;
  border: 2px solid #d6e1f7;
  border-radius: 10px;
  font-size: 20px;
  color: #001A40;
  cursor: pointer;
  transition: 0.25s ease;
}

.answer-option:hover {
  background: #e6eeff;
  border-color: #a9c4ff;
}

.answer-option.selected {
  background: #0042A6;
  color: #fff;
  border-color: #001A40;
}


@media (max-width: 600px) {
  .quiz-question {
    font-size: 26px;
  }
  
  .answer-option {
    font-size: 18px;
    padding: 16px;
  }
}

.next-btn {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #0042A6;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.next-btn:hover {
  background-color: #0060E0;
}

#vastus {
  font-size: 24px;
  font-weight: 450;
  margin-top: -20px;
  color: #001A40;
}

.quiz-container {
  background: #ffffff;             
  border-radius: 20px;
  width: 80%;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0,0,0,0.12) inset; 
  margin-top: 50px;
  place-self: center;
}