
.hero {
  background-image: url('../my-hero.png'); 
  background-size: cover;
  background-position: center;
  height: 40vh;                
  display:flex;
  justify-content:left;
  align-items:center;
  position: relative;
  margin-bottom: 0;
  box-shadow: 0 0 40px rgba(0,0,0,0.35)
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, rgba(124, 167, 202, 1), rgba(44, 113, 170, 1));
  z-index: 1;
  pointer-events: none;
  opacity: 0.60;
  box-shadow: 0 0 40px rgba(0,0,0,0.35)

}

.hero-text h1 {
  color: rgba(255,255,255,0.95);
  font-size: 35px;
  letter-spacing: 1px;
  margin: 0;
  font-weight: 800;
  position: relative;
  z-index: 2;
  text-align:left;
  margin-left: 150px;
  margin-top: 200px;
}

.hero-text p {
  color:  rgba(255,255,255,0.95);
  font-size: 20px;
  letter-spacing: 1px;
  margin: 0;
  position: relative;
  z-index: 4;
  text-align:left;
  margin-left: 150px;
  margin-bottom: 30px;
}