* { box-sizing: border-box; margin: 0; padding: 0; }

.site-header {
  width: 100%;                 
  background: linear-gradient(to right, #0042A6, #001A40);         
  box-shadow: 0 2px 0 rgba(0,0,0,0.15);
  opacity: 0.80;
  z-index: 1000;
  position: fixed;
     
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 2000px;           
  margin: 0 auto;              
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;          
}

.logo {
  color: #fff;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;
}

.main-nav ul {
  list-style: none;
  display: flex;
  gap: 40px;                   
  align-items: center;
}

.main-nav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  opacity: 0.95;
}

.main-nav a:hover {
  text-decoration: underline;
}

.hero {
  background-image: url('../my-hero.png'); 
  background-size: cover;
  background-position: center;
  height: 40vh;                
  display:flex;
  justify-content:left;
  align-items:center;
  position: relative;
  margin-bottom: 0;
  box-shadow: 0 2px 0 rgba(0,0,0,0.15);
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, rgba(124, 167, 202, 1), rgba(44, 113, 170, 1));
  z-index: 1;
  pointer-events: none;
  opacity: 0.60;
  box-shadow: 0 2px 0 rgba(0,0,0,0.15);

}

.hero-text h1 {
  color: rgba(255,255,255,0.95);
  font-size: 35px;
  letter-spacing: 1px;
  margin: 0;
  font-weight: 800;
  position: relative;
  z-index: 2;
  text-align:left;
  margin-left: 120px;
  margin-top: 220px;
}

.hero-text p {
  color:  rgba(255,255,255,0.95);
  font-size: 20px;
  letter-spacing: 1px;
  margin: 0;
  position: relative;
  z-index: 4;
  text-align:left;
  margin-left: 120px;
  margin-bottom: 30px;
}