#tulemasmöödunudnupud {
  overflow: hidden;
  border: none;
  background-color: none;
  justify-content: right ;
}

#tulemasmöödunudnupud button {
  background-color: white;
  float: left;
  border: none;
  outline: inherit;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: gray;
}

.tab button.active {
  outline: 10 0 black;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: none;
  border-top: none;
}

.buttoninbetween {
    padding: 5000px 1px;
}
