
.hero {
  background-image: url('../pildid/Structura/grupipilt.jpg'); 
  background-size: cover;
  background-position: center;
  height: 50vh;                
  display:flex;
  justify-content:left;
  align-items:center;
  position: relative;
  margin-bottom: 0;
  box-shadow: 0 0 40px rgba(0,0,0,0.35)
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, rgba(124, 167, 202, 1), rgba(44, 113, 170, 1));
  z-index: 1;
  pointer-events: none;
  opacity: 0.60;
  box-shadow: 0 0 40px rgba(0,0,0,0.35)
}

.hero-text h1 {
  color: rgba(255,255,255,0.95);
  font-size: 50px;
  letter-spacing: 1px;
  margin: 0;
  font-weight: 800;
  position: relative;
  z-index: 2;
  text-align:left;
  margin-left: 170px;
  margin-top: 200px;
}

.hero-text p {
  color:  rgba(255,255,255,0.95);
  font-size: 35px;
  letter-spacing: 1px;
  margin: 0;
  position: relative;
  z-index: 4;
  text-align:left;
  margin-left: 170px;
  margin-bottom: 50px;
}

.players-section {
  width: 100%;
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
}

.player-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;

  width: 80%;
  margin: 60px auto;

  padding: 30px;
  background: #f3f3f3;
  border-radius: 16px;
  border: 1px solid rgba(0,0,0,0.05);
  box-shadow: 0 0 40px rgba(0,0,0,0.35);
}

.player-card img {
  width: 250px;
  height: auto;
  border-radius: 10px;
    
}

.player-info {
  max-width: 700px;
  background: linear-gradient(to right, #0042A6, #001A40);
  -webkit-background-clip: text;   
  -webkit-text-fill-color: transparent; 
  background-clip: text;           
  color: transparent;
  opacity: 0.85;
    

}

.player-card h2 {
    margin: 0 0 10px 0;
    font-size: 35px;
}

.player-card p {
    margin: 4px 0;
    font-size: 20px;
}

.player-card:nth-child(odd) {
  flex-direction: row;
  margin-left: 0;
  margin-right: auto;
}

.player-card:nth-child(even) {
    flex-direction: row-reverse;
    margin-left: auto;
    margin-right: 0;
}

/* Special styling for the coach card */
.player-card.treener {
  flex-direction: column !important;  /* force image on top */
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid #0042A6;
  box-shadow: 0 0 40px rgba(0,0,0,0.35);
  margin-left: auto;   /* center card */
  margin-right: auto;
}

.player-card.treener img {
  width: 280px;
  margin-bottom: 15px;
}

.player-card.treener .player-info {
  max-width: 700px;
}


