* { box-sizing: border-box; margin: 0; padding: 0; }

.site-header {
  width: 100%;                 
  background: linear-gradient(to right, #0042A6, #001A40);         
  box-shadow: 0 2px 0 rgba(0,0,0,0.15);
  opacity: 0.80;
  z-index: 1000;
  position: fixed;
     
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 2000px;           
  margin: 0 auto;              
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;          
}

.logo {
  color: #fff;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;
}

.main-nav ul {
  list-style: none;
  display: flex;
  gap: 40px;                   
  align-items: center;
}

.main-nav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  opacity: 0.95;
}

.main-nav a:hover {
  text-decoration: underline;
}

.hero {
  background-image: url('../my-hero.png'); 
  background-size: cover;
  background-position: center;
  height: 72vh;                
  display:flex;
  justify-content:center;
  align-items:center;
  position: relative;
  margin-bottom: 0;
  box-shadow: 0 2px 0 rgba(0,0,0,0.15);
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, rgba(124, 167, 202, 1), rgba(44, 113, 170, 1));
  z-index: 1;
  pointer-events: none;
  opacity: 0.60; 
  box-shadow: 0 5px 0  rgba(0,0,0,0.15);

}

  /* Keskne tekst pildil */
.hero-text h1 {
  color: rgba(255,255,255,0.95);
  font-size: 72px;
  letter-spacing: 6px;
  margin: 0;
  position: relative;
  z-index: 2;
  text-align: center;
}


.section--tight { margin: 100px; }

.section--tight .container {
  margin-top: -8px;
  max-width: 4000px;              
}

.section-title {
  font-size: 55px;
  font-weight: 500;
  letter-spacing: 0.5px;
  background: linear-gradient(to right, #0042A6, #001A40);
  -webkit-background-clip: text;   
  -webkit-text-fill-color: transparent; 
  background-clip: text;           
  color: transparent;     
  transform: translate(0, -240px);
  margin-top: 100px;
     
}


.scoreboard-card {
  background: #e6e6e6;    
  border-radius: 8px;
  min-height: 260px;
  width: 100vw;      
  padding: 190px;
  padding-left: 800px;
  margin-left: calc(-50vw + 40%);
  box-shadow: 0 1px 0 rgba(0,0,0,0.06) inset;
  margin-top: 150px;
}

.site-footer {
  margin-top: 80px;
  background: linear-gradient(to right, #0042A6, #001A40);
  color: #fff;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  padding: 70px 0;
}

.footer-inner > div { 
  opacity: 0.95;
  justify-content: space-between;
  font-size: 20px;
  margin-left: 40px;
}

.section-text p {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color:black;
  text-align: center;
  text-shadow:5px black;
  position: relative;
  margin-top: 100px;
  

}
 





